@font-face {
font-family: "Gloss";
src: url("/fonts/Gloss.ttf");
}
@font-face {
font-family: "Jellyka";
src: url("/fonts/Jellyka.ttf");
}
/* Utility classes */
[class*=col-] {
  padding: 0 1rem;
}

.header {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 2%;
}

header nav a {
  padding: 0.6rem;
}

/* This is the mobile nav */

.active {
  color: white;
}

footer {
  position: relative;
  padding: 2%;
  margin:2%;
}

footer a {
  color: grey;
  font-size: 3rem;
  text-align: center;
}


.centered {
  text-align: center;
}

.flex-basic{
  display: flex;
flex-direction: column;
}

.top{
  order:-3;
}

h1 {
  font-family: "Jellyka";
  font-style: normal;
  font-weight: 400;
  font-size: 6rem;
  text-align: center;
  margin: 1rem;

}

h2 {
  font-family: "Jellyka";
  font-style: normal;
  font-weight: 400;
  font-size:4rem;
  margin: 0rem;
  text-align: center;
  text-decoration: none;
  color: black;
}
.spacing {line-height: 3rem;
margin: 0rem}

h3 {
  font-family: "gloss", Swanky and Moo Moo;
  font-size: 1rem;
  text-decoration: none;
  color: grey;
  font-weight: normal;
  text-align: center;
  }
h4 {
  font-family: "Jellyka";
  font-size: 4rem;
  font-weight: normal;
  margin: inherit;
  text-align: center;
}
p {
  color: grey;
  margin: 0.5rem;
  font-family: 'Catamaran', sans-serif;
}
.exploreimage{max-width: 100%;
height: auto;
text-align: center;}

.bg-image {
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

img{
  max-width: 100%;
  height: auto;
}
.padded {
  padding: 5%;
}
.padded2 {
  padding: 2rem;
}
.grid{
  max-width: 500px;
  margin:0 auto;
}
  .mob-show,
  .mobile-menu {
    display: none;
  }

  .hamburger {
    position: fixed;
    font-size: 4rem;
    line-height: 0.2;
    right: 2rem;
    top: 1rem;
    z-index: 3;
  }

  .mobile-nav {
    display: none;
    position: fixed;
    top: 0;
    left:0;
    right:0;
    bottom: 0;
    background-color: rgba(60,60,65,0.8);
    padding: 10%;
    text-align: center;
    z-index: 5;
  }
  .mobile-nav a {
    color: white;
    padding: 1rem;
    display: block;
    text-decoration: none;
    font-size: 2rem;
  }
body.explore .right-section-top h2 {
  transform: translateY(330px);
          }
h1 {
  font-size: 6rem;}

/* This is a reverse media query for very big screens */
@media(min-width: 1024px)
{


.grid {
    max-width: 1160px;
    margin: 0 auto;
  }

.desktop-hide {
    display: none;}

}
/* Mobile Responsive - Small gridlex class */
@media(max-width: 1023px) {
  .mob-hide {
    display: none;
  }
  .mob-show {
    display: block;
  }
  .background-candyandtheking {
    min-height: 35rem;
  }

body.explore .right-section-top h2 {
  transform: translateY(250px);
}

  h1 {font-size: 4rem;
    text-align: center;
  }
  footer {
    z-index: -5;}

  .bookstore .center-section h1 {display: none;}

footer a {
  color: grey;
  font-size: 1.6rem;
  text-align: center;
  }
}
/* End medie Query */

body.home {
  background-image: url('images/background-paper-01.jpg');
}

body.meetus {
  background-image: url('images/background-paper-01.jpg');
}
body.post {
  background-color: #e5dcd5;
}

body.blog {
  background-color: #e5dcd5;
}

.blog-text-box {
  padding: 1rem;
  background-color: white;
  max-width: 900px;
  margin: auto;
border: solid #e5dcd5 0.6rem; }

.blogmore {
  font-family: "gloss", Swanky and Moo Moo;
  }


.readmore {font-family: catamaran;
  color: grey;
  border-bottom: 0.5px solid grey;}
/*  Classes for unique image and text styles  */
.vertical-flex-gap-adder{
  display: flex;
    flex-direction: column;
    justify-content: space-around;

}



.float-left {
  max-width: 400px;
  float: left;
  margin-right: 1rem;
  background-color: #e5dcd5;
}

.float-right {
  max-width: 400px;
  float: right;
  margin-left: 1rem;
}

.maps-and-routes .maps-note {
  margin-top: -400px;
  position: relative;
  z-index: -5;
  padding: 0rem
}



.maps-and-routes section p {
  font-family: "silver pen";
      font-style: normal;
      font-weight: 400;
      font-size: 2.5rem;
      margin: 0rem;
      padding: 0 6rem;
      text-align: center;
      text-decoration: none;
      color: black;
      margin-top: 70px;
      transform: translateY(20px);
    }



body.explore .right-section-btm h2 {
  transform: translateY(90px);
}
body.explore .center-btm {
  margin-top: -14rem;
}
.explore .center-section h2 {transform: translateY(4.6rem);}

.explore .center-section p {font-family: "Jellyka";
    font-style: normal;
    font-weight: 400;
    font-size: 3rem;
    margin: 0rem;
    padding: 0 4rem;
    text-align: center;
    text-decoration: none;
    color: black;
    transform: translateY(-360px);

  }

    .bookstore h2{
      transform: translateY(100px);
    }
    .bookstore .center-btm {
      margin-top: 0px;
    }

  .bookstore .right-section-btm {
    padding: 0 6rem;
    margin-top: 60px;

  }

  .bookstore .right-section-top {
    padding: 0 6rem;
    margin: -50px;
  }

.bookstore .right-section-top h2 {
  transform: translateY(50px);
  }
.bookstore .center-section {
  padding-top: 50px;
}

.bookstore .left-section-top h2 {
  padding-bottom: 100px;
}
.bookstore .left-section-top {
  margin-top: -100px;
}

.bookstore .center-section {padding-top: 0px;}


.travelguides .block-img {
    object-fit: cover;
    object-position: center;
  }

.contact .work-with-us {
  position: relative;
    z-index: -5;
}

.contact .work-with-us h2{
  text-align: center;
  transform: translateY(100px);

}
.contact .clickhere {
  text-decoration: none;
  font-family: "gloss", Swanky and Moo Moo;
  color: grey;
  text-align: center;

  /* padding-left: 10rem;
  padding-top: 5rem; */
}

.socials .fab,
.socials .far  {
    margin-right: 1rem;
}

.contact .clickhere a {
  padding: 0.5rem;
  display: block;
}
.contact form {
  position:absolute;
  max-width: 370px;
  top: 180px;
  left: 120px;
}

.project .right-section-top h2{
  transform: translateY(-71px);

}
.project .right-section-top {
padding-top: 0rem;
padding-left: 4rem;
padding-right: 4rem;
margin: 0rem;
}

.project .paddingnone {
  padding: 0rem;
}
.project .center-section h2 {
  transform:translateY(170px);
}
.project .center-section {
  margin-top: -70px;
}
.project .left-section-top {
  margin-top: -50px;
}
.project .left-section-top h2 {
  transform: translateY(600px);
}
.project .center-btm h2 {transform: translateY(40px);}
.project .center-btm {
  transform: translateY(-55px);
}

.project .right-section-btm {
  padding: 6rem;
  text-align: center;
}
.exploregallery {
   object-fit: contain;
}
.box {
  display: block;
  padding: 2rem 2rem;
  padding-bottom: 2rem;
  color: black;
  text-decoration: none;
  text-align: center;
  background-position: top;
  font-family: "silver pen";
  font-size: 2rem;
  background-repeat:no-repeat;
}

/* this is for the newpaper cut on index */

.sidebar .container {
  padding: 1rem;
  background-color: #f6f5f8;

}

a {
  text-decoration: none;
color:inherit;
}
.no-margin {margin: 0px;}
.polaroidtext {
position: absolute;
bottom: 20px;
left: 5px;
right: 5px;
text-align: center;
}

.relative {position: relative;}

nav {
  font-family: "gloss", Swanky and Moo Moo;
  font-size: 1rem;
  color: grey;
  text-decoration: none;
  padding: 5px 0px;}

.homenav a {
  color: grey;
}

.border {
  border: 1.5px solid black;
  padding: 1rem;
    line-height: 2px
}
/* end of newpaper cut */
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.3); }

.contactsocial{
  font-size: 1.5rem;
}

.background-candyandtheking {
  background-image: url('images/homepagephoto-big-01.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.navhandwriting {
  font-family:"gloss", Swanky and Moo Moo;
  color: grey;
  font-size: 1rem;
  padding: 1rem;
}

.right {text-align: right;}
.center {text-align: center;}
.margin-bottom-1 {
  margin-bottom: 1rem;
}

.catamaran {
  font-family: 'Catamaran', sans-serif;
  font-size: 2rem;
  color: grey;
  font-weight:100;
  text-transform: uppercase;
}

/* form */
input,
textarea {
  border-style: solid;
  border: 2px solid rgb(200, 200, 205);
  padding: 0.8em;
  display: block;
  width: 100%;
  font-size: 1rem;
  vertical-align: top;
  z-index: 5;
}

input:focus,
textarea:focus {
  outline: none;
  border: 2px solid #c3a790;
  /* featured color */
}

textarea {
  min-height: 7em;
}

input[type="submit"] {
  width: auto;
  display: block;
}

form [class*=col-] {
  padding: 5px;
}

.email-signup input {
  width: 30%;
  display: inline-block;
  max-width: 250px;
  margin-top:1rem;
}

.email-signup .button-solid {
  padding: 0.8em;
  border-radius: 0;
  font-size: 1rem;
    font-family: 'Amatic SC', cursive;
}
 form .button {
   width:107%;
 }
.home a:hover {
  color: white;
}

.meetus a:hover {
color: white;
  }

a:hover {
  color: black;
}

a:hover h1 {
  color: grey;
}

@media(max-width:1024px) {
  .email-signup input {
   width: 100%;
   max-width: 100%;
 }

.contact form {
  position:absolute;
  max-width: 230px;
  top: 180px;
  left: 120px;
  z-index: 5;
   }
 }
