h1 {
  font-family: modish, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size:2rem;
}

h2 {
  font-family: modish, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size:1rem;
  }

p {font-size: 0.5rem;
  font-family:
  color: black;
}
