<header>
  <header class="grid-spaceBetween">
    <div class="col-4-middle">
      <a href="/index.html">
        <img src="/images/logo-01.png" alt="Candy and the King Logo and Travel Guide">
      </a>
    </div>
    <nav class="col-4-middle right homenav">
      <a href="/bookstore.html" class= "margin"> Bookstore </a>
      <a href="/explore.html" class= "margin"> Explore </a>
      <a href="/meetus.html" class= "margin"> Meet us </a>
      <a href="/connect.html" class= "margin"> Connect </a>

    </nav>

</header>
