<header>
  <header class="grid-spaceBetween">
    <div class="col-4-middle">
      <a href="/">
        <h2 class="logo"> LOGO </h2>
      </a>
    </div>
    <nav class="col-4-middle center">
      <a href="#"> Bookstore </a>
      <a href="#"> Explore </a>
      <a href="#"> Meet us </a>
      <a href="#"> Connect </a>

    </nav>
    {% if page.url == "/index.html" %}
      <div class="col-4-middle right date">
        <p> dd/mm/yyyy<p>
        <p> 04/07/2015<p>
      </div>
    {% endif %}
</header>
