<header>
  <header class="grid-spaceBetween">
    <div class="col-4-middle">
      <a href="/index.html">
        <img src="/images/logo-01.png" alt="Candy and the King Logo and Travel Guide">
      </a>
    </div>
    <nav class="col-4-middle center homenav">
      <a href="/bookstore.html"> Bookstore </a>
      <a href="/explore.html"> Explore </a>
      <a href="/meetus.html"> Meet us </a>
      <a href="/contact.html"> Connect </a>

    </nav>

      <div class="col-4-middle right">
        <p> dd/mm/yyyy<p>
        <p class= "navhandwriting"> 04/07/2015<p>
      </div>
</header>
