<!-- <header class="grid-spaceBetween header mob-hide">
  <div class="col-2-middle grow">
    <a href="/index.html">
      <img src="/images/logo-01.png" alt="Candy and the King Logo and Travel Guide">
    </a>
  </div>
  <nav class="col-6-middle center homenav">
    <a href="/bookstore.html"> Bookstore </a>
    <a href="/explore.html"> Explore </a>
    <a href="/blog.html"> Travel Blogs </a>
    <a href="/meetus.html"> Meet us </a>
    <a href="/contact.html"> Connect </a>
  </nav>

    <div class="col-2-middle right">
      <p> dd/mm/yyyy<p>
      <p class= "navhandwriting"> 04/07/2015<p>
    </div>
</header>

<header class="mob-show centered">
  <a href="/index.html">
    <img src="/images/logo-01.png" alt="Candy and the King Logo and Travel Guide">
  </a>
  <div class="hamburger">
    _ <br>
    _ </br>
    _
  </div>
</header>

<nav class="mobile-nav">
  <a href="/index.html">
    <img src="/images/logo-white-01.png" alt="Candy and the King Logo and Travel Guide">
  </a>
  <a href="/bookstore.html"> Bookstore </a>
  <a href="/explore.html"> Explore </a>
  <a href="/blog.html"> Travel Blogs </a>
  <a href="/meetus.html"> Meet us </a>
  <a href="/contact.html"> Connect </a>
</nav> -->
