---
layout: default
---
<section>
  <a href="{{page.page-link}}">
    <h1> {{page.page-title}} </h1>
  </a>
</section>

<!-- this is the page content -->
<section class="grid">
  <div class="col-3_md-12 left-section-top">
    <a href="{{page.left-sidebar-link}}" target="_blank">
      <h2> {{page.left-sidebar-title}} </h2>
      <img src="{{page.left-sidebar-img}}" alt="{{left-sidebar-img-alt}}">
    </a>
  </div>
  <div class="col-9_md-12">
    <div class="grid">
      <div class="col-6_md-12 vertical-flex-gap-adder">
        <div class="center-section">
          <div class="no-margin col-12_md-12">
            <a href="{{page-title-link}}">
              <h1 class= "no-margin"> {{page.bookstore-center-section-h1}}</h1>
            </a>
          </div>
          <a href="{{page.center-top-link}}">
            <h2>{{page.center-title}}</h2>
             <img src="{{page.center-top-img}}" alt="{{page.center-top-img-alt}}">
             <p class="spacing">{{page.center-top-p}}</p>
          </a>
        </div>
        <div class="center-btm">
          <a href="{{page.center-btm-link}}">
            <h2> {{page.center-btm-title}}</h2>
            <img src="{{page.center-btm-img}}" alt="{{page.center-btm-img-alt}}">
          </a>
        </div>
      </div>
      <div class="col-6_md-12">
        <div class= "right-section-top">
          <a class="flex-basic" href="{{page.right-top-link}}">
              <img src="{{page.right-top-img}}" alt="{{right-top-img-alt}}">
              <h2 class="{{page.right-top-title-class}}"> {{page.right-top-title}}</h2>
          </a>
        </div>
          <div class= "right-section-btm">
            <a href="{{page.right-btm-link}}">
              <h2> {{page.right-btm-title}}</h2>
              <img src="{{page.right-btm-img}}" alt="{{right-btm-img-alt}}">
            </a>
           </div>
      </div>
    </div>
  </div>
</section>
