<!DOCTYPE html>
<html>
<head>
<title>{{page.title}}</title>
  <!-- Gridlex -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>
  <!-- our own custom stylesheet -->
  <link rel="stylesheet" href="styles.css"/>

</head>

<!-- this is the start of visible page -->
<body>


<!-- unique content per page -->

{{content}}

<!-- then of visible page -->
<footer class="col-12">
  <nav class="inline socials">
    <a href="#">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="#">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="#">
      <i class="fab fa-youtube"></i>
    </a>
  </nav>
</footer>
</body>
</html>
