<!DOCTYPE html>
<html>
<head>
<title>{{page.title}}</title>
  <!-- Gridlex -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.7.1/gridlex.min.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Catamaran&display=swap" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" rel="stylesheet">
  <!-- our own custom stylesheet -->
  <link rel="stylesheet" href="styles.css"/>


</head>

<!-- this is the start of visible page -->
<body class="{{page.class}}">

{% if page.url == "/" %}
  {% include headerhome.html %}
{% else %}
  {% include headerall.html %}
{% endif %}

<!-- unique content per page -->

{{content}}

<!-- then of visible page -->
<footer class="col-12 center">
  <nav class="inline socials">
    <a href="https://www.facebook.com/candy.and.the.king/">
      <i class="fab fa-facebook-square"></i>
    </a>
    <a href="https://www.instagram.com/candy_and_the_king/">
      <i class="fab fa-instagram"></i>
    </a>
    <a href="https://www.youtube.com/channel/UCzqnx2C9vn72mlxpa4l2oFA">
      <i class="fab fa-youtube"></i>
    </a>
  </nav>
</footer>
</body>
</html>
